<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Articles</title>
    <link rel="stylesheet" href="/styles.css">
    <script>
        function truncateText(text, maxLength) {
            if (text.length > maxLength) {
                return text.substring(0, maxLength) + '...';
            }
            return text;
        }
    </script>
</head>
<body>
    <h1>NEWS KATAAKSH</h1>
    <div class="articles">
        <% articles.forEach(article => { %>
            <div class="article">
                <% if (article.image_url) { %>
                    <img src="<%= article.image_url %>" alt="Article Image">
                <% } %>
                <div class="article-content">
                    <h2><a href="<%= article.link %>"><%= article.title %></a></h2>
                    <p><%= article.description %></p>
                    <em>Published on: <%= article.pubDate %></em>
                </div>
            </div>
        <% }); %>
    </div>
</body>
</html>
